nav{
    background-color: white;
}

.mlogo{
    height: 45px;
    width: 180px;
    margin: 2px;
}

.home{
    color: black;
}


.butt {
    background-color: #e47c21;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
  
  